<style>
	.listtable td
	{
		vertical-align	:middle;
		text-align	:center;
	}
	.listtable td img
	{
		padding		:5px;
	}
	.lb_flex-item 
	{	
		min-width	:450px;
		width		:450px;
		max-width	:450px;
		flex-wrap	:nowrap;
		margin-top	:-10px;  
	}
	.lb_flex-item-help 
	{
		min-width	:100px;
		width		:100%;
		position	:relative;
		margin-left	:10px;
	}
	.mqtttable {
		vertical-align: middle;
		text-align: left;
		/* font-size: 90%; */
		border-collapse: collapse;
		border: 1px solid grey;
		padding: 10px;
		width: 100%;
		
	}
	.mqtttable_vicol, .mqtttable_desccol {
		border: 1px solid grey;
		padding: 10px;
	}
	.mqtttable_headrow {
	}
	.servicestatus {
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-template-rows: 1fr;
		gap: 0px 10px;
		justify-content: center;
		justify-items: center;
		align-items: center;
		text-shadow: none;
	}
	.margin {
		margin: 10px;
	}
	.status {
		padding: 7px;
		box-sizing: border-box;
		border-radius: 5px 5px 5px 5px;
		background: #dfdfdf;
		border: 1px solid #7E7E7E;
		width: 170px;
		text-align: center;
	}

</style>

<!-- ****************************************************************************************** -->

<TMPL_IF FORM_SETTINGS>

	<div class="servicestatus">
		<div>
			Service Status:
		</div>
		<div id="servicestatusicon">
			<img src="./images/unknown_20.png">
		</div>
		<div class="status" id="servicestatus">
			<TMPL_VAR "GPIOS.LABEL_UNKNOWN">
		</div>
		<div>
			<a href="#" onclick="servicerestart();return false;" data-role="button" data-inline="true" data-icon="refresh" data-mini="true"
						data-transition="flow"><TMPL_VAR COMMON.BUTTON_RESTART></a>
			<a href="#" onclick="servicestop();return false;" data-role="button" data-inline="true" data-icon="delete" data-mini="true"
						data-transition="flow"><TMPL_VAR COMMON.BUTTON_STOP></a>
		</div>

	</div>

	<br><hr><br>


	<form>
	
	<div class="lb_flex-container SETTINGS ui-state-disabled">
		<div	class="lb_flex-item-label">
			<label	class=	"control-label"
				for="topic"><TMPL_VAR COMMON.LABEL_TOPIC></label>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item">
			<input width="100%" value="freq_count" id="topic" name="topic" type="text" class="textfield">
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item-help hint">
			<TMPL_VAR COMMON.HINT_TOPIC>
		</div>
		<div	class="lb_flex-item-spacer"></div>
	</div>

	<div class="lb_flex-container SETTINGS ui-state-disabled">
		<div	class="lb_flex-item-label">
			<label	class=	"control-label"
				for="samplerate"><TMPL_VAR COMMON.LABEL_SAMPLERATE></label>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item">
			<input type="range" name="samplerate" id="samplerate" min="1" max="10" value="5" data-highlight="true" step="1">
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item-help hint">
			<TMPL_VAR COMMON.HINT_SAMPLERATE>
		</div>
		<div	class="lb_flex-item-spacer"></div>
	</div>

	<div class="lb_flex-container SETTINGS ui-state-disabled">
		<div	class="lb_flex-item-label">
			<label	class=	"control-label"
				for="refreshrate"><TMPL_VAR COMMON.LABEL_REFRESHRATE></label>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item">
			<input type="range" name="refreshrate" id="refreshrate" min="1" max="60" value="5" data-highlight="true" step="1">
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item-help hint">
			<TMPL_VAR COMMON.HINT_REFRESHRATE>
		</div>
		<div	class="lb_flex-item-spacer"></div>
	</div>

	<div class="lb_flex-container SETTINGS ui-state-disabled">
		<div	class="lb_flex-item-label">
			<label	class=	"control-label"
				for="fc1"><TMPL_VAR COMMON.LABEL_FREQUENCYCOUNTER> 1</label>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item">
			<select name="fc1" id="fc1" data-mini="true">
				<option value="0">Not used</option>
				<option value="2">GPIO2</option>
				<option value="3">GPIO3</option>
				<option value="4">GPIO4</option>
				<option value="5">GPIO5</option>
				<option value="6">GPIO6</option>
				<option value="7">GPIO7</option>
				<option value="8">GPIO8</option>
				<option value="9">GPIO9</option>
				<option value="10">GPIO10</option>
				<option value="11">GPIO11</option>
				<option value="12">GPIO12</option>
				<option value="13">GPIO13</option>
				<option value="14">GPIO14</option>
				<option value="15">GPIO15</option>
				<option value="16">GPIO16</option>
				<option value="17">GPIO17</option>
				<option value="18">GPIO18</option>
				<option value="19">GPIO19</option>
				<option value="20">GPIO20</option>
				<option value="21">GPIO21</option>
				<option value="22">GPIO22</option>
				<option value="23">GPIO23</option>
				<option value="24">GPIO24</option>
				<option value="25">GPIO25</option>
				<option value="26">GPIO26</option>
				<option value="27">GPIO27</option>
			</select>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item-help hint">
			<TMPL_VAR COMMON.HINT_FREQUENCYCOUNTER>
		</div>
		<div	class="lb_flex-item-spacer"></div>
	</div>

	<div class="lb_flex-container SETTINGS ui-state-disabled">
		<div	class="lb_flex-item-label">
			<label	class=	"control-label"
				for="fc2"><TMPL_VAR COMMON.LABEL_FREQUENCYCOUNTER> 2</label>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item">
			<select name="fc2" id="fc2" data-mini="true">
				<option value="0">Not used</option>
				<option value="2">GPIO2</option>
				<option value="3">GPIO3</option>
				<option value="4">GPIO4</option>
				<option value="5">GPIO5</option>
				<option value="6">GPIO6</option>
				<option value="7">GPIO7</option>
				<option value="8">GPIO8</option>
				<option value="9">GPIO9</option>
				<option value="10">GPIO10</option>
				<option value="11">GPIO11</option>
				<option value="12">GPIO12</option>
				<option value="13">GPIO13</option>
				<option value="14">GPIO14</option>
				<option value="15">GPIO15</option>
				<option value="16">GPIO16</option>
				<option value="17">GPIO17</option>
				<option value="18">GPIO18</option>
				<option value="19">GPIO19</option>
				<option value="20">GPIO20</option>
				<option value="21">GPIO21</option>
				<option value="22">GPIO22</option>
				<option value="23">GPIO23</option>
				<option value="24">GPIO24</option>
				<option value="25">GPIO25</option>
				<option value="26">GPIO26</option>
				<option value="27">GPIO27</option>
			</select>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item-help hint">
			<TMPL_VAR COMMON.HINT_FREQUENCYCOUNTER>
		</div>
		<div	class="lb_flex-item-spacer"></div>
	</div>

	<div class="lb_flex-container SETTINGS ui-state-disabled">
		<div	class="lb_flex-item-label">
			<label	class=	"control-label"
				for="fc3"><TMPL_VAR COMMON.LABEL_FREQUENCYCOUNTER> 3</label>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item">
			<select name="fc3" id="fc3" data-mini="true">
				<option value="0">Not used</option>
				<option value="2">GPIO2</option>
				<option value="3">GPIO3</option>
				<option value="4">GPIO4</option>
				<option value="5">GPIO5</option>
				<option value="6">GPIO6</option>
				<option value="7">GPIO7</option>
				<option value="8">GPIO8</option>
				<option value="9">GPIO9</option>
				<option value="10">GPIO10</option>
				<option value="11">GPIO11</option>
				<option value="12">GPIO12</option>
				<option value="13">GPIO13</option>
				<option value="14">GPIO14</option>
				<option value="15">GPIO15</option>
				<option value="16">GPIO16</option>
				<option value="17">GPIO17</option>
				<option value="18">GPIO18</option>
				<option value="19">GPIO19</option>
				<option value="20">GPIO20</option>
				<option value="21">GPIO21</option>
				<option value="22">GPIO22</option>
				<option value="23">GPIO23</option>
				<option value="24">GPIO24</option>
				<option value="25">GPIO25</option>
				<option value="26">GPIO26</option>
				<option value="27">GPIO27</option>
			</select>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item-help hint">
			<TMPL_VAR COMMON.HINT_FREQUENCYCOUNTER>
		</div>
		<div	class="lb_flex-item-spacer"></div>
	</div>

	<div class="lb_flex-container SETTINGS ui-state-disabled">
		<div	class="lb_flex-item-label">
			<label	class=	"control-label"
				for="fc4"><TMPL_VAR COMMON.LABEL_FREQUENCYCOUNTER> 4</label>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item">
			<select name="fc4" id="fc4" data-mini="true">
				<option value="0">Not used</option>
				<option value="2">GPIO2</option>
				<option value="3">GPIO3</option>
				<option value="4">GPIO4</option>
				<option value="5">GPIO5</option>
				<option value="6">GPIO6</option>
				<option value="7">GPIO7</option>
				<option value="8">GPIO8</option>
				<option value="9">GPIO9</option>
				<option value="10">GPIO10</option>
				<option value="11">GPIO11</option>
				<option value="12">GPIO12</option>
				<option value="13">GPIO13</option>
				<option value="14">GPIO14</option>
				<option value="15">GPIO15</option>
				<option value="16">GPIO16</option>
				<option value="17">GPIO17</option>
				<option value="18">GPIO18</option>
				<option value="19">GPIO19</option>
				<option value="20">GPIO20</option>
				<option value="21">GPIO21</option>
				<option value="22">GPIO22</option>
				<option value="23">GPIO23</option>
				<option value="24">GPIO24</option>
				<option value="25">GPIO25</option>
				<option value="26">GPIO26</option>
				<option value="27">GPIO27</option>
			</select>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item-help hint">
			<TMPL_VAR COMMON.HINT_FREQUENCYCOUNTER>
		</div>
		<div	class="lb_flex-item-spacer"></div>
	</div>

	<div class="lb_flex-container SETTINGS ui-state-disabled">
		<div	class="lb_flex-item-label">
			<label	class=	"control-label"
				for="fc5"><TMPL_VAR COMMON.LABEL_FREQUENCYCOUNTER> 5</label>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item">
			<select name="fc5" id="fc5" data-mini="true">
				<option value="0">Not used</option>
				<option value="2">GPIO2</option>
				<option value="3">GPIO3</option>
				<option value="4">GPIO4</option>
				<option value="5">GPIO5</option>
				<option value="6">GPIO6</option>
				<option value="7">GPIO7</option>
				<option value="8">GPIO8</option>
				<option value="9">GPIO9</option>
				<option value="10">GPIO10</option>
				<option value="11">GPIO11</option>
				<option value="12">GPIO12</option>
				<option value="13">GPIO13</option>
				<option value="14">GPIO14</option>
				<option value="15">GPIO15</option>
				<option value="16">GPIO16</option>
				<option value="17">GPIO17</option>
				<option value="18">GPIO18</option>
				<option value="19">GPIO19</option>
				<option value="20">GPIO20</option>
				<option value="21">GPIO21</option>
				<option value="22">GPIO22</option>
				<option value="23">GPIO23</option>
				<option value="24">GPIO24</option>
				<option value="25">GPIO25</option>
				<option value="26">GPIO26</option>
				<option value="27">GPIO27</option>
			</select>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item-help hint">
			<TMPL_VAR COMMON.HINT_FREQUENCYCOUNTER>
		</div>
		<div	class="lb_flex-item-spacer"></div>
	</div>

	<div style="padding: 0px 0px 20px 0px;"></div>
	      
	<div class="lb_flex-container SETTINGS ui-state-disabled">
		<div	class="lb_flex-item-label">
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item">
		<a href="javascript:saveSETTINGS();" id="btnsavesettings" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check ui-btn-inline" 
				data-transition="flow" data-inline="true"><TMPL_VAR COMMON.BUTTON_SAVE></a>
		<div class="hint" id="settings_hint">&nbsp;</div>
		</div>
		<div	class="lb_flex-item-spacer"></div>
		<div	class="lb_flex-item-help hint">
		</div>
		<div	class="lb_flex-item-spacer"></div>
	</div>

	</form>
	      
</TMPL_IF>

<!-- ****************************************************************************************** -->

<TMPL_IF FORM_LOG>
	<TMPL_VAR LOGLIST>
</TMPL_IF>

<!-- ****************************************************************************************** -->

<script>
// Main form
var formsettings = '<TMPL_VAR FORM_SETTINGS>';
var formlog = '<TMPL_VAR FORM_LOG>';
var nopidrefresh = "0";

$(function() {

	interval = window.setInterval(function(){ servicestatus(); }, 3000);
	servicestatus();
	getconfig();

});

// SERVICE STATE
function servicestatus() {

	if (nopidrefresh === "1") {
		return;
	}

	nopidrefresh = "1";
	$.ajax( { 
			type: 'POST',
			data: { 
				ajax: 'servicestatus'
			}
		} )
	.fail(function( data ) {
		console.log( "Servicestatus Fail", data );
		$("#servicestatus").attr("style", "background:#dfdfdf; color:red").html("<TMPL_VAR "COMMON.HINT_FAILED">");
		$("#servicestatusicon").html("<img src='./images/unknown_20.png'>");
	})
	.done(function( data ) {
		console.log( "Servicestatus Success", data );
		if (data.pid) {
			$("#servicestatus").attr("style", "background:#6dac20; color:black").html("<TMPL_VAR "COMMON.HINT_RUNNING"> <span class='small'>PID: " + data.pid + "</span>");
			$("#servicestatusicon").html("<img src='./images/check_20.png'>");
		} else {
			$("#servicestatus").attr("style", "background:#FF6339; color:black").html("<TMPL_VAR "COMMON.HINT_STOPPED">");
			$("#servicestatusicon").html("<img src='./images/error_20.png'>");
		}
	})
	.always(function( data ) {
		console.log( "Servicestatus Finished", data );
		nopidrefresh = "0";
	});
}

// SERVICE START_STOP

function servicerestart() {

	nopidrefresh = "1";
	$("#servicestatus").attr("style", "color:blue").html("<TMPL_VAR "COMMON.HINT_EXECUTING">");
	$("#servicestatusicon").html("<img src='./images/unknown_20.png'>");
	$.ajax( { 
			type: 'POST',
			data: { 
				ajax: 'servicerestart'
			}
		} )
	.fail(function( data ) {
		console.log( "Servicerestart Fail", data );
	})
	.done(function( data ) {
		console.log( "Servicerestart Success", data );
		if (data == "0") {
			servicestatus();
		} else {
			$("#servicestatus").attr("style", "background:#dfdfdf; color:red").html("<TMPL_VAR "COMMON.HINT_FAILED">");
		}
	})
	.always(function( data ) {
		console.log( "Servicerestart Finished", data );
		nopidrefresh = "0";
	});
}

function servicestop() {

	nopidrefresh = "1";
	$("#servicestatus").attr("style", "color:blue").html("<TMPL_VAR "COMMON.HINT_EXECUTING">");
	$("#servicestatusicon").html("<img src='./images/unknown_20.png'>");
	$.ajax( { 
			type: 'POST',
			data: { 
				ajax: 'servicestop'
			}
		} )
	.fail(function( data ) {
		console.log( "Servicestop Fail", data );
	})
	.done(function( data ) {
		console.log( "Servicestop Success", data );
		if (data == "0") {
			servicestatus();
		} else {
			$("#servicestatus").attr("style", "background:#dfdfdf; color:red").html("<TMPL_VAR "COMMON.HINT_FAILED">");
		}
	})
	.always(function( data ) {
		console.log( "Servicestop Finished", data );
		nopidrefresh = "0";
	});
}

// Save Settings
function saveSETTINGS() {
	$("#settings_hint").attr("style", "color:blue").html("<TMPL_VAR COMMON.HINT_SAVE_SAVING>");
	$.ajax( { 
			type: 'POST',
			data: { 
				ajax: 'savesettings', 
				topic: $('#topic').val(),
				samplerate: $('#samplerate').val(),
				refreshrate: $('#refreshrate').val(),
				fc1: $('#fc1').val(),
				fc2: $('#fc2').val(),
				fc3: $('#fc3').val(),
				fc4: $('#fc4').val(),
				fc5: $('#fc5').val(),
			}
		} )
	.fail(function( data ) {
		console.log( "savesettings Fail", data );
		$("#settings_hint").attr("style", "color:red").html("<TMPL_VAR COMMON.HINT_SAVE_ERROR>: "+data.statusText);
	})
	.done(function( data ) {
		console.log( "savesettings Success: ", data );
		$("#settings_hint").attr("style", "color:green").html("<TMPL_VAR COMMON.HINT_SAVE_OK>");
		getconfig();
	})
	.always(function( data ) {
		console.log( "savesettings Finished" );
	});
}

// Get Config
function getconfig() {
	// Get Config
	
	if ( formsettings ) {
		console.log( "Get Config for Settings form" );
		var form = 'plugin'; // This will be changed to plugin.json later on in CGI
	}
	if ( formlog ) {
		console.log( "Get Config for form not needed" );
		return;
	}

	// Ajax request
	$.ajax({ 
		type: 'POST',
		data: { ajax: 'getconfig', config: form }
	})
	.fail(function( data ) {
		console.log( "getconfig Fail", data );
	})
	.done(function( data ) {
		console.log( "getconfig Success", data );
		if ( formsettings ) {
			console.log( "Parse Item for Settings form" );
			// Fill the form with json data retrieved from the ajax getconfig call
			if ( data.error || jQuery.isEmptyObject(data)) {
				console.log("plugin.json is empty, does not exist or is invalid.");
			}
			if(data.topic) {
				$("#topic").val(data.topic);
			} else {
				$("#topic").val('freq_count');
			}
			if(data.samplerate) {
				$("#samplerate").val(data.samplerate).slider("refresh");
			} else {
				$("#samplerate").val('5').slider("refresh");
			}
			if(data.refreshrate) {
				$("#refreshrate").val(data.refreshrate).slider("refresh");
			} else {
				$("#refreshrate").val('5').slider("refresh");
			}
			if(data.fc1) {
				$("#fc1").val(data.fc1).selectmenu('refresh',true);
			} else {
				$("#fc1").val('0').selectmenu('refresh',true);
			}
			if(data.fc2) {
				$("#fc2").val(data.fc2).selectmenu('refresh',true);
			} else {
				$("#fc2").val('0').selectmenu('refresh',true);
			}
			if(data.fc3) {
				$("#fc3").val(data.fc3).selectmenu('refresh',true);
			} else {
				$("#fc3").val('0').selectmenu('refresh',true);
			}
			if(data.fc4) {
				$("#fc4").val(data.fc4).selectmenu('refresh',true);
			} else {
				$("#fc4").val('0').selectmenu('refresh',true);
			}
			if(data.fc5) {
				$("#fc5").val(data.fc5).selectmenu('refresh',true);
			} else {
				$("#fc5").val('0').selectmenu('refresh',true);
			}
			$(".SETTINGS").removeClass("ui-state-disabled");
		};
	})
	.always(function( data ) {
		console.log( "getconfig Finished" );
	})
}
</script>
